*
{
	margin: 0px;
	padding: 0px;
}
.Wel
{
	text-align: center;
	font-size: 50px;
	padding: 40px;
}
.cho
{
	text-align: center;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row2 {margin: 0 -5px;
  padding-left: 20%;
}
.row2:after 
{
  content: "";
  display: table;
  clear: both;

}

@media screen and (max-width: 600px) 
{
.column 
{
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
a
{
  text-decoration: none;
}
.header {
  width: 100%;
  height: 200px;
  padding: 25px;
  background-color: #aa1414;
  color: #ffffe6;
}
.container {
  max-height: 800px;
  background-color: #898686;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
}
.wrapper {
  height: 130px;
  width: 50%;
  border: 3px solid #aa1414;
  color: #aa1414;
  font-size: 30px;
  padding: 10px;
  margin-top: 5px;
  background-color: #ffffe6
}
.wrapper:hover {
  background-color: #aa1414;
  color: white;
  padding: 11px
}
.wrapper2 {
  height: 130px;
  width: 50%;
  border: 3px solid #aa1414;
  color: #ffffe6;
  font-size: 30px;
  padding: 10px;
  background-color: #aa1414;
  margin-top: 5px;
}
.wrapper3 {
  height: 230px;
  width: 50%;
}
.wrapper3:hover {
  opacity: 0.8
}
.bottom-left {
  position: absolute;
  bottom: 297px;
  left: 25px;
  color: white
}
.bottom-right {
  position: absolute;
  bottom: 297px;
  right: 310px;
  color: white
}
